<<<<<<< HEAD
=======
@import "tailwindcss";
>>>>>>> 4972ed4a2258da8fe6327694f34602ca73563963
body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}

* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
